body{
	background-color: #db3a2e;
  background-image: url("Images2/Water Offering-Amended Pg 4-1.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  /*height: 100%;*/
  background-size: auto 100%;
  overflow-y:hidden;

}
/*.cups{
  display: block;
  height: auto;

}*/
.banner{
  text-align: center;
}
.button{
width: 10%;

}
#btntest{
  position: absolute;
width: 20%;
height: 9vw;
background-position: center;
background-repeat: no-repeat;
background-size: 100%;
font-size: 2vw;
border: none;
background-color: transparent;
left: 77.5%;
top: 84%;
}
#btntest:focus{
  outline: none;
}
#btnnext{
  position: fixed;
  width: 20%;
  bottom: 5vh;
  left: 135vh;

}

.textdiv{
  position: relative;
  text-align: center;
  top: 19vh;

}
.entext{
  font-family: "Times New Roman";

  position: fixed;
  top: 80vh;
  left: 40vw;
  font-size: 20px;
  color: white;
  animation-name: fadeanim1;
  animation-fill-mode: forwards;
  animation-duration: 2s
}
.chtext{
  font-family: KaiTi;

  position: fixed;
  top: 88vh;
  left: 43vw;
  font-size: 20px;
  color: white;
  animation-name: fadeanim1;
  animation-fill-mode: forwards;
  animation-duration: 4s;
}
.hands{
  position: fixed;
  top: 97vh;
  left: 47vw;
  transform: scale(0.20);
  font-size: 20px;
  color: white;
  margin-top: -45vh;
  animation-name: fadeanim1;
  animation-fill-mode: forwards;
  animation-duration: 6s;
}
#hand{
  position: absolute;
  top:  -72vh;
  left: 110vw;
  animation-name: fadeanim1;
  animation-fill-mode: forwards;
  animation-duration: 6s;
}

.divider{
    width:80px;
    height:auto;
    display:inline-block;
}
/*.cups{
  text-align: center;
}
#cup2{
  position: relative;
  top:  27.5vh;
  transform: scale(0.25);
  animation-name: cupanim;
  animation-fill-mode: forwards;
  animation-duration: 4s;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
@keyframes cupanim {
  from{
    transform: scale(0.25);
  }to{
    transform: scale(0.43);
  }
}*/
@keyframes fadeanim1 {
    0%{opacity: 0}
    25%{opacity: 0}
    50%{opacity: 0}
    75%{opacity: 0}
    100%{opacity: 100}

}
@media (min-width: 1920px) and (max-width: 2560px)  {
  /*.cups{
    position: relative;
    display: block;
    width: 100%;
    top: 34vh;
    height: auto;
    text-align: center;
    justify-content: center;
  }*/
  #btnnext{
    position: relative;
    width: 200%;
    bottom: -42.5vh;
    left: 130vh;

  }

}
@media only screen
  and (min-device-width: 320px)
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2) {
    body{
      background-image: url("Images2/Water Offering-Mobile Pg 4-1 Amended.png");
      background-position: center center;
      background-repeat: no-repeat;
      background-attachment: fixed;
      background-size: cover;


    }

    #btntest{
      position: absolute;
    width: 70%;
    height: 15vw;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    font-size: 2vw;
    border: none;
    background-color: transparent;
    left: 15%;
    top: 91%;
    }
    #btntest:focus{
      outline: none;
    }
    /*.cups{
      display: block;
      width: 100%;
      top: 30vh;
      height: auto;

    }
    #cup2{
      position: relative;
      top:  200px;
      transform: scale(0.25);
      animation-name: cupanim;
      animation-fill-mode: forwards;
      animation-duration: 4s;
      display: block;
      left: -16%;

    }
    @keyframes cupanim {
      from{
        transform: scale(0.15);
      }to{
        transform: scale(0.25);
      }
    }*/

}

/*added for ipad, ipad pro - landscape*/
@media only screen
  and (min-device-width: 1024px) /*chg*/
  and (max-device-width: 1366px) /*chg*/
  and (-webkit-min-device-pixel-ratio: 2) {
    body{
      background-image: url("Images2/Water Offering-Amended Pg 4-1.jpg");
      background-position: center center;
      background-repeat: no-repeat;
      background-attachment: fixed;
      background-size: contain; /*chg to contain */


    }

    #btntest{
      position: absolute;
    width: 25%; /*chg to reference*/
    height: 5vw; /*chg to reference*/
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    font-size: 2vw;
    border: none; /*set temporary border '2px dashed black'*/
    background-color: transparent;
    left: 75%; /* chg */
    top: 81%; /* chg */
    }
    #btntest:focus{
      outline: none;
    }
    /*.cups{
      display: block;
      width: 100%;
      top: 30vh;
      height: auto;

    }
    #cup2{
      position: relative;
      top:  200px;
      transform: scale(0.25);
      animation-name: cupanim;
      animation-fill-mode: forwards;
      animation-duration: 4s;
      display: block;
      left: -16%;

    }
    @keyframes cupanim {
      from{
        transform: scale(0.15);
      }to{
        transform: scale(0.25);
      }
    }*/

}


/*added for ipad, ipad pro - portrait*/
@media only screen
  and (min-device-width: 768px) /*chg*/
  and (max-device-width: 1024px) /*chg*/
  and (orientation: portrait) /* chg*/
  and (-webkit-min-device-pixel-ratio: 2) {
    body{
      background-image: url("Images2/Water Offering-Mobile Pg 4-1 Amended.png"); /* not amended */
      background-position: center center;
      background-repeat: no-repeat;
      background-attachment: fixed;
      background-size: contain; /*chg to contain */


    }

    #btntest{
      position: absolute;
    width: 70%; /*chg to reference*/
    height: 7vw;	/*chg to reference*/
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    font-size: 2vw;
    border: none; /*set temporary border '2px dashed black'*/
    background-color: transparent;
    left: 15%; /*chg*/
    top: 91%; /*chg*/
    }
    #btntest:focus{
      outline: none;
    }
    /*.cups{
      display: block;
      width: 100%;
      top: 30vh;
      height: auto;

    }
    #cup2{
      position: relative;
      top:  200px;
      transform: scale(0.25);
      animation-name: cupanim;
      animation-fill-mode: forwards;
      animation-duration: 4s;
      display: block;
      left: -16%;

    }
    @keyframes cupanim {
      from{
        transform: scale(0.15);
      }to{
        transform: scale(0.25);
      }
    }*/

}  
 
/*added for iphone X - landscape*/
@media only screen
  and (min-device-width: 812px) /*chg*/
  and (max-device-width: 823px) /*chg*/
  and (orientation: landscape) /*chg*/ 
  and (-webkit-min-device-pixel-ratio: 2) {
    body{
      background-image: url("Images2/Water Offering-Amended Pg 4-1.jpg"); /* not amended */
      background-position: center center;
      background-repeat: no-repeat;
      background-attachment: fixed;
      background-size: contain; /*chg to contain */


    }

    #btntest{
      position: absolute;
    width: 25%; /*chg*/
    height: 5vw; /*chg*/
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    font-size: 2vw;
    border: none; /*set temporary border '2px dashed black'*/
    background-color: transparent;
    left: 75%; /*chg*/
    top: 88%;	/*chg*/
    }
    #btntest:focus{
      outline: none;
    }
    /*.cups{
      display: block;
      width: 100%;
      top: 30vh;
      height: auto;

    }
    #cup2{
      position: relative;
      top:  200px;
      transform: scale(0.25);
      animation-name: cupanim;
      animation-fill-mode: forwards;
      animation-duration: 4s;
      display: block;
      left: -16%;

    }
    @keyframes cupanim {
      from{
        transform: scale(0.15);
      }to{
        transform: scale(0.25);
      }
    }*/

}  